{
  "swagger": "2.0",
  "info": {
    "title": "gateway/gateway.proto",
    "version": "1.1.0",
    "update":{
      "1.0.0": {
        "2017-11-13":"type参数名 更改成 userType",
        "2017-11-14.01":"extra参数类型 更改成 object，增加 gatewayExtraType 定义",
        "2017-11-14.02":"绑定列表增加返回 accountName",
        "2017-11-17.01":"增加接口返回code值的描述"
      },
      "1.1.0": {
        "2017-11-30.01":"accountId 更改成 thirdPartyId",
        "2017-11-30.02":"绑定列表返回 accountId accountName 更改成 thirdPartyId thirdPartyNickname",
        "2017-11-30.03":"v1/user/getBackPassword 接口更改成 v1/user/forgetPassword",
        "2017-11-30.04":"API: v1/user/login v1/user/register 接口参数更改",
        "2017-12-04.01":"API: 增加支付及采集接口的Mock接口",
        "2017-12-05.01":"gameId 更改成 appId, gameSecret 更改成 appSecret"
      }
    }
  },
  "host":"gateway.shinezone.com",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/data/collection": {
      "post": {
        "operationId": "DataApiCollection",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayDataCollectionResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayDataCollectionRequest"
            }
          }
        ],
        "tags": [
          "DataApiService"
        ]
      }
    },
    "/v1/game/bindAccount": {
      "post": {
        "operationId": "GameApiBindAccount",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameBindAccountResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameBindAccountRequest"
            }
          }
        ],
        "tags": [
          "GameApiService"
        ]
      }
    },
    "/v1/game/checkSession": {
      "post": {
        "operationId": "GameApiCheckSession",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameCheckSessionResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameCheckSessionRequest"
            }
          }
        ],
        "tags": [
          "GameApiService"
        ]
      }
    },
    "/v1/game/login": {
      "post": {
        "operationId": "GameApiLogin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameLoginResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameLoginRequest"
            }
          }
        ],
        "tags": [
          "GameApiService"
        ]
      }
    },
    "/v1/payment/callback": {
      "post": {
        "operationId": "PaymentApiCallback",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayPaymentCallbackResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayPaymentCallbackRequest"
            }
          }
        ],
        "tags": [
          "PaymentApiService"
        ]
      }
    },
    "/v1/payment/cancelOrder": {
      "post": {
        "operationId": "PaymentApiCancelOrder",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayPaymentCancelOrderResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayPaymentCancelOrderRequest"
            }
          }
        ],
        "tags": [
          "PaymentApiService"
        ]
      }
    },
    "/v1/payment/createOrder": {
      "post": {
        "operationId": "PaymentApiCreateOrder",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayPaymentCreateOrderResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayPaymentCreateOrderRequest"
            }
          }
        ],
        "tags": [
          "PaymentApiService"
        ]
      }
    },
    "/v1/payment/queryOrderDetail": {
      "post": {
        "operationId": "PaymentApiQueryOrderDetail",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayPaymentQueryOrderDetailResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayPaymentQueryOrderDetailRequest"
            }
          }
        ],
        "tags": [
          "PaymentApiService"
        ]
      }
    },
    "/v1/payment/queryOrderList": {
      "post": {
        "operationId": "PaymentApiQueryOrderList",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayPaymentQueryOrderListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayPaymentQueryOrderListRequest"
            }
          }
        ],
        "tags": [
          "PaymentApiService"
        ]
      }
    },
    "/v1/user/checkST": {
      "post": {
        "operationId": "UserApiCheckST",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayCheckSTResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayCheckSTRequest"
            }
          }
        ],
        "tags": [
          "UserApiService"
        ]
      }
    },
    "/v1/user/checkTGC": {
      "post": {
        "operationId": "UserApiCheckTGC",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayCheckTGCResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayCheckTGCRequest"
            }
          }
        ],
        "tags": [
          "UserApiService"
        ]
      }
    },
    "/v1/user/forgetPassword": {
      "post": {
        "operationId": "UserApiForgetPassword",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayForgetPasswordResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayForgetPasswordRequest"
            }
          }
        ],
        "tags": [
          "UserApiService"
        ]
      }
    },
    "/v1/user/login": {
      "post": {
        "operationId": "UserApiLogin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayLoginOrRegisterResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayLoginOrRegisterRequest"
            }
          }
        ],
        "tags": [
          "UserApiService"
        ]
      }
    },
    "/v1/user/logout": {
      "post": {
        "operationId": "UserApiLogout",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayUserLogoutResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayUserLogoutRequest"
            }
          }
        ],
        "tags": [
          "UserApiService"
        ]
      }
    },
    "/v1/user/register": {
      "post": {
        "operationId": "UserApiRegister",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayLoginOrRegisterResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayLoginOrRegisterRequest"
            }
          }
        ],
        "tags": [
          "UserApiService"
        ]
      }
    }
  },
  "definitions": {
    "gameGameBindAccountResponse": {
      "type": "object",
      "properties": {
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "bind": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/gameGameBindData"
          }
        }
      }
    },
    "gameGameBindData": {
      "type": "object",
      "properties": {
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "account_type": {
          "type": "integer",
          "format": "int32"
        },
        "third_party_id": {
          "type": "string"
        },
        "third_party_nickname": {
          "type": "string"
        },
        "bind_time": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "gameGameLoginResponse": {
      "type": "object",
      "properties": {
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "session_id": {
          "type": "string"
        },
        "bind": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/gameGameBindData"
          }
        }
      }
    },
    "gatewayExtraType": {
      "type": "object",
      "properties": {
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "account_type": {
          "type": "integer",
          "format": "int32"
        },
        "third_party_id": {
          "type": "string"
        },
        "access_token": {
          "type": "string"
        }
      }
    },
    "gatewayGameCheckSessionData": {
      "type": "object",
      "properties": {
        "guid": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "gatewayGatewayCheckSTData": {
      "type": "object",
      "properties": {
        "user_id": {
          "type": "string",
          "format": "uint64"
        },
        "user_name": {
          "type": "string"
        },
        "app_permission": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayCheckSTRequest": {
      "type": "object",
      "properties": {
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "app_st": {
          "type": "string"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayCheckSTResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gatewayGatewayCheckSTData"
        }
      }
    },
    "gatewayGatewayCheckTGCRequest": {
      "type": "object",
      "properties": {
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayCheckTGCResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gatewayGatewayLoginOrRegisterData"
        }
      }
    },
    "gatewayGatewayDataCollectionRequest": {
      "type": "object",
      "properties": {
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "log_message": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/gatewayLogMessageData"
          }
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayDataCollectionResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayForgetPasswordRequest": {
      "type": "object",
      "properties": {
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "mail": {
          "type": "string"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayForgetPasswordResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayGameBindAccountRequest": {
      "type": "object",
      "properties": {
        "cp_id": {
          "type": "integer",
          "format": "int32"
        },
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "account_type": {
          "type": "integer",
          "format": "int32"
        },
        "third_party_id": {
          "type": "string"
        },
        "access_token": {
          "type": "string"
        },
        "extra": {
          "type": "object",
          "required": false,
          "description":" （增加：原帐号登入的三方信息）",
          "$ref": "#/definitions/gatewayExtraType"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayGameBindAccountResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description":"10051,10054,10055,10056,10057,31003,31005,31006,31008,31009,31010"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gameGameBindAccountResponse"
        }
      }
    },
    "gatewayGatewayGameCheckSessionRequest": {
      "type": "object",
      "properties": {
        "cp_id": {
          "type": "integer",
          "format": "int32"
        },
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "session_id": {
          "type": "string"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayGameCheckSessionResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description":"10051,31011"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gatewayGameCheckSessionData"
        }
      }
    },
    "gatewayGatewayGameLoginRequest": {
      "type": "object",
      "properties": {
        "cp_id": {
          "type": "integer",
          "format": "int32"
        },
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "account_type": {
          "type": "integer",
          "format": "int32"
        },
        "third_party_id": {
          "type": "string",
          "required": false
        },
        "access_token": {
          "type": "string",
          "required": false
        },
        "extra": {
          "type": "object",
          "required": false,
          "description":" （已登入游客增加:guid）",
          "$ref": "#/definitions/gatewayExtraType"
        },
        "user_channel_id": {
          "type": "string"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayGameLoginResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description":"10051,10054,10055,10056,10057,31002,31003,31004,31007"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gameGameLoginResponse"
        }
      }
    },
    "gatewayGatewayLoginOrRegisterData": {
      "type": "object",
      "properties": {
        "user_id": {
          "type": "string",
          "format": "uint64"
        },
        "user_name": {
          "type": "string"
        },
        "user_type": {
          "type": "integer",
          "format": "int32"
        },
        "app_st": {
          "type": "string"
        },
        "access_token": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayLoginOrRegisterRequest": {
      "type": "object",
      "properties": {
        "user_name": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayLoginOrRegisterResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description":"注册（10051,30051），登入(10051,10052,10053,30052,30053)"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gatewayGatewayLoginOrRegisterData"
        }
      }
    },
    "gatewayGatewayPaymentCallbackExtra": {
      "type": "object",
      "properties": {
        "outer_order_id": {
          "type": "string",
          "required": false
        },
        "purchase_token": {
          "type": "string"
        },
        "product_id": {
          "type": "string"
        },
        "package_name": {
          "type": "string",
          "required": false
        },
        "real_currency": {
          "type": "string",
          "required": false
        },
        "real_amount": {
          "type": "string",
          "required": false
        }
      }
    },
    "gatewayGatewayPaymentCallbackRequest": {
      "type": "object",
      "properties": {
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "order_id": {
          "type": "string",
          "format": "uint64"
        },
        "payment_method": {
          "type": "integer",
          "format": "int32"
        },
        "extra": {
          "$ref": "#/definitions/gatewayGatewayPaymentCallbackExtra"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayPaymentCallbackResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gatewayPaymentOrderData"
        }
      }
    },
    "gatewayGatewayPaymentCancelOrderRequest": {
      "type": "object",
      "properties": {
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "order_id": {
          "type": "string",
          "format": "uint64"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayPaymentCancelOrderResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayPaymentCreateOrderExtra": {
      "type": "object",
      "properties": {
        "area_id": {
          "type": "integer",
          "format": "int32",
          "required": false
        }
      }
    },
    "gatewayGatewayPaymentCreateOrderRequest": {
      "type": "object",
      "properties": {
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "game_role_id": {
          "type": "string"
        },
        "product_id": {
          "type": "string"
        },
        "product_num": {
          "type": "integer",
          "format": "int32"
        },
        "product_price": {
          "type": "integer",
          "format": "int32"
        },
        "payment_method": {
          "type": "integer",
          "format": "int32"
        },
        "payment_currency": {
          "type": "string"
        },
        "payment_amount": {
          "type": "integer",
          "format": "int32"
        },
        "order_source": {
          "type": "integer",
          "format": "int32"
        },
        "extra": {
          "$ref": "#/definitions/gatewayGatewayPaymentCreateOrderExtra",
          "required" : false
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayPaymentCreateOrderResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gatewayPaymentOrderData"
        }
      }
    },
    "gatewayGatewayPaymentQueryOrderDetailRequest": {
      "type": "object",
      "properties": {
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "order_id": {
          "type": "string",
          "format": "uint64"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayPaymentQueryOrderDetailResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gatewayPaymentOrderData"
        }
      }
    },
    "gatewayGatewayPaymentQueryOrderListRequest": {
      "type": "object",
      "properties": {
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayPaymentQueryOrderListResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/gatewayPaymentOrderData"
          }
        }
      }
    },
    "gatewayGatewayUserLogoutRequest": {
      "type": "object",
      "properties": {
        "app_id": {
          "type": "integer",
          "format": "int32"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayUserLogoutResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "gatewayLogMessageData": {
      "type": "object",
      "properties": {
        "dc_game_id": {
          "type": "integer",
          "format": "int32"
        },
        "dc_area_id": {
          "type": "integer",
          "format": "int32"
        },
        "dc_user_id": {
          "type": "string"
        },
        "dc_time": {
          "type": "string"
        },
        "dc_cash": {
          "type": "integer",
          "format": "int32"
        },
        "dc_coin": {
          "type": "integer",
          "format": "int32"
        },
        "dc_level": {
          "type": "integer",
          "format": "int32"
        },
        "dc_rtime": {
          "type": "string"
        },
        "dc_session": {
          "type": "string"
        },
        "dc_ip": {
          "type": "string"
        },
        "dc_act": {
          "type": "string"
        },
        "dc_act_extra": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "gatewayPaymentOrderData": {
      "type": "object",
      "properties": {
        "order_id": {
          "type": "string",
          "format": "uint64"
        },
        "outer_order_id": {
          "type": "string"
        },
        "order_status": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  }
}