{
  "swagger": "2.0",
  "info": {
    "title": "gateway/gateway.proto",
    "version": "1.0.0",
    "update":{
      "2017-11-13":"type参数名 更改成 userType",
      "2017-11-14.01":"extra参数类型 更改成 object，增加 gatewayExtraType 定义",
      "2017-11-14.02":"绑定列表增加返回 accountName",
      "2017-11-17.01":"增加接口返回code值的描述",
      "2017-11-23.01":"accountId 更改成 thirdPartyId",
      "2017-11-23.02":"绑定列表返回 accountId accountName 更改成 thirdPartyId thirdPartyNickname",
      "2017-11-23.03":"user/getBackPassword 接口更改成 /user/forgetPassword"
    }
  },
  "host":"gateway.shinezone.com",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/game/bindAccount": {
      "post": {
        "operationId": "GameApiBindAccount",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameBindAccountResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameBindAccountRequest"
            }
          }
        ],
        "tags": [
          "GameApiService"
        ]
      }
    },
    "/v1/game/checkSession": {
      "post": {
        "operationId": "GameApiCheckSession",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameCheckSessionResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameCheckSessionRequest"
            }
          }
        ],
        "tags": [
          "GameApiService"
        ]
      }
    },
    "/v1/game/login": {
      "post": {
        "operationId": "GameApiLogin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameLoginResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayGameLoginRequest"
            }
          }
        ],
        "tags": [
          "GameApiService"
        ]
      }
    },
    "/v1/user/forgetPassword": {
      "post": {
        "operationId": "UserApiForgetPassword",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayForgetPasswordResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayForgetPasswordRequest"
            }
          }
        ],
        "tags": [
          "UserApiService"
        ]
      }
    },
    "/v1/user/login": {
      "post": {
        "operationId": "UserApiLogin",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayLoginOrRegisterResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayLoginOrRegisterRequest"
            }
          }
        ],
        "tags": [
          "UserApiService"
        ]
      }
    },
    "/v1/user/register": {
      "post": {
        "operationId": "UserApiRegister",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/gatewayGatewayLoginOrRegisterResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/gatewayGatewayLoginOrRegisterRequest"
            }
          }
        ],
        "tags": [
          "UserApiService"
        ]
      }
    }
  },
  "definitions": {
    "gameGameBindAccountResponse": {
      "type": "object",
      "properties": {
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "bind_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/gameGameBindData"
          }
        }
      }
    },
    "gameGameBindData": {
      "type": "object",
      "properties": {
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "game_id": {
          "type": "integer",
          "format": "int32"
        },
        "account_type": {
          "type": "integer",
          "format": "int32"
        },
        "third_party_id": {
          "type": "string"
        },
        "third_party_nickname": {
          "type": "string"
        },
        "bind_time": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "gameGameCheckSessionResponse": {
      "type": "object",
      "properties": {
        "guid": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "gameGameLoginResponse": {
      "type": "object",
      "properties": {
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "session_id": {
          "type": "string"
        },
        "bind_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/gameGameBindData"
          }
        }
      }
    },
    "gatewayExtraType": {
      "type": "object",
      "properties": {
        "guid": {
          "type": "string",
          "format": "uint64",
          "required": false
        },
        "game_id": {
          "type": "integer",
          "format": "int32",
          "required": false
        },
        "account_type": {
          "type": "integer",
          "format": "int32",
          "required": false
        },
        "third_party_id": {
          "type": "string",
          "required": false
        },
        "access_token": {
          "type": "string",
          "required": false
        }
      }
    },
    "gatewayGatewayForgetPasswordRequest": {
      "type": "object",
      "properties": {
        "cp_id": {
          "type": "integer",
          "format": "int32"
        },
        "game_id": {
          "type": "integer",
          "format": "int32"
        },
        "mail": {
          "type": "string"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayForgetPasswordResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayGameBindAccountRequest": {
      "type": "object",
      "properties": {
        "cp_id": {
          "type": "integer",
          "format": "int32"
        },
        "game_id": {
          "type": "integer",
          "format": "int32"
        },
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "account_type": {
          "type": "integer",
          "format": "int32"
        },
        "third_party_id": {
          "type": "string"
        },
        "access_token": {
          "type": "string"
        },
        "extra": {
          "type": "object",
          "required": false,
          "description":" （增加：原帐号登入的三方信息）",
          "$ref": "#/definitions/gatewayExtraType"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayGameBindAccountResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description":"10051,10054,10055,10056,10057,31003,31005,31006,31008,31009,31010"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gameGameBindAccountResponse"
        }
      }
    },
    "gatewayGatewayGameCheckSessionRequest": {
      "type": "object",
      "properties": {
        "cp_id": {
          "type": "integer",
          "format": "int32"
        },
        "game_id": {
          "type": "integer",
          "format": "int32"
        },
        "guid": {
          "type": "string",
          "format": "uint64"
        },
        "session_id": {
          "type": "string"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayGameCheckSessionResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description":"10051,31011"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gameGameCheckSessionResponse"
        }
      }
    },
    "gatewayGatewayGameLoginRequest": {
      "type": "object",
      "properties": {
        "cp_id": {
          "type": "integer",
          "format": "int32"
        },
        "game_id": {
          "type": "integer",
          "format": "int32"
        },
        "account_type": {
          "type": "integer",
          "format": "int32"
        },
        "third_party_id": {
          "type": "string",
          "required": false
        },
        "access_token": {
          "type": "string",
          "required": false
        },
        "extra": {
          "type": "object",
          "required": false,
          "description":" （已登入游客增加:guid）",
          "$ref": "#/definitions/gatewayExtraType"
        },
        "user_channel_id": {
          "type": "string"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayGameLoginResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description":"10051,10054,10055,10056,10057,31002,31003,31004,31007"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/gameGameLoginResponse"
        }
      }
    },
    "gatewayGatewayLoginOrRegisterRequest": {
      "type": "object",
      "properties": {
        "cp_id": {
          "type": "integer",
          "format": "int32"
        },
        "game_id": {
          "type": "integer",
          "format": "int32"
        },
        "user_name": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "user_type": {
          "type": "integer",
          "format": "int32"
        },
        "user_channel_id": {
          "type": "string"
        },
        "timestamp": {
          "type": "integer",
          "format": "int32"
        },
        "sign": {
          "type": "string"
        }
      }
    },
    "gatewayGatewayLoginOrRegisterResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description":"注册（10051,30051），登入(10051,10052,10053,30052,30053)"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/userLoginOrRegisterResponse"
        }
      }
    },
    "userLoginOrRegisterResponse": {
      "type": "object",
      "properties": {
        "user_id": {
          "type": "string",
          "format": "uint64"
        },
        "user_name": {
          "type": "string"
        },
        "access_token": {
          "type": "string"
        },
        "expire_time": {
          "type": "integer",
          "format": "int32"
        },
        "user_type": {
          "type": "integer",
          "format": "int32"
        },
        "bind_mail_status": {
          "type": "integer",
          "format": "int32"
        },
        "mail": {
          "type": "string"
        },
        "create_time": {
          "type": "integer",
          "format": "int32"
        },
        "login_time": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  }
}
